section.story {
  -webkit-perspective: 1400;
}
section.story section.sheet {
  margin: 1em;
  position: relative;
  -webkit-transform: rotate3d(0,1,0, 0deg);
  -webkit-transition: -webkit-transform 1s ease-in-out;
  -webkit-trans }
  section.story section.sheet > * {
    position: absolute;
    top: 0;
  }
  section.story section.sheet > .front {
    -webkit-transform: translateZ(2px);
    -webkit-transition: -webkit-transform 1s ease-in-out; }
  section.story section.sheet > .back {
    -webkit-transform: rotate3d(0,1,0, -180deg); }

section.story section.sheet.flipped {
  -webkit-transform: rotate3d(0,1,0, -180deg); }
  section.story section.sheet.flipped > .front {
    -webkit-transform: translateZ(-2px); }

section.story section.cover {
  width: 20em;
  height: 26em;
  padding: 3em 4em;
  border: 1px solid hsla(0,0%,0%, 0.2);
  background: hsl(120, 50%, 70%) url("images/leather_tile_250.jpg");
  background-image: 
    -webkit-gradient(linear, left top, right top,
      from(hsla(0,0%,0%, 0.2)), 
      color-stop(0.02, hsla(0,0%,0%, 0.1)),
      color-stop(0.04, hsla(0,0%,0%, 0.25)),
      color-stop(0.045, hsla(0,0%,0%, 0.0)),
      color-stop(0.995, hsla(0,0%,0%, 0.0)),
      to(hsla(0,0%,0%, 0.3)) ),
    url("images/leather_tile_250.jpg");
  }
  section.story section.cover h1 {
    margin: 0;
    text-align: center;
    text-shadow: 1px 1px 0 hsla(0, 0%, 100%, 0.3);
    font-size: 4em; }

section.story section.page {
  width: 20em;
  height: 26em; }
